<header>
    <div class="navbar bg-secondary shadow-sm">
      <div class="navbar-brand align-item-centre d-flex">
        <strong style="font-size: 30px; color:orange; cursor: pointer;">Shop For Home</strong>
  
        <div class="formgroup">
          <input type="text" class="form-control" placeholder="Search">
          <span style="margin-right: 10px;"></span>
        </div>
      </div>
  
      <button class="btn btn-primary">Admin</button>
      <button style="float: right;" class="btn btn-success">Login</button>
      <button style="float: right;" class="btn btn-danger">Log out</button>
      
      <button class="btn btn-primary" style="float:left">cart</button>
      <button class="btn btn-primary">wishlist</button>
      
    </div>
  </header>     