<form class="center">
    <div class="form-row">
      <div class="form-group col-md-6">
            <label for="User_name">Name</label>
            <input type="text" class="form-control inputWidth" id="User_name" placeholder="user name" autocomplete="off">
      </div>
      <br>
      <div class="form-group col-md-6">
        <label for="User_email">Email</label>
        <input type="email" class="form-control inputWidth" id="User_email" placeholder="Email" autocomplete="off">
      </div>
      <br>
      <div class="form-group col-md-6">
        <label for="User_Password">Password</label>
        <input type="password" class="form-control inputWidth" id="User_Password" placeholder="Password" autocomplete="off">
      </div>
      <br>
    </div>
    <div class="form-group">
      <label for="User_address">Address</label>
      <input type="text" class="form-control inputWidth" id="User_address" placeholder="enter address">
    </div>
    <br>
    <div class="form-group">
        <label for="User_phone">Phone Number</label>
        <input type="text" class="form-control inputWidth" id="User_phone" placeholder="enter phone number">
    </div>
    <br>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
