<div class="card-top container-fluid">
    <div class="container d-flex justify-content-between">
      <div class="item">
        <a >
          <img class="img-container" src="assets/img/offer_zone.png" alt="">
          <h4>Offers Zone</h4>
        </a>
      </div>
      <div class="item">
        <a >
          <img class="img-container" src="assets/img/electronics.png" alt="">
          <h4>Electronics</h4>
        </a>
      </div>
      <div class="item">
        <a >
          <img class="img-container" src="assets/img/fashion.png" alt="">
          <h4>Fashion</h4>
        </a>
      </div>
      <div class="item">
        <a >
          <img class="img-container" src="assets/img/sports.png" alt="">
          <h4>Sports</h4>
        </a>
      </div>
      <div class="item">
        <a >
          <img class="img-container" src="assets/img/grocery.png" alt="">
          <h4>Grocery</h4>
        </a>
      </div>
    </div>
  </div>
    <div>
    </div>